<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/socket.io/socket.io.js"> </script>
    <title> Game </title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	  <link href="/css/design.css" rel="stylesheet">

  </head>

  <body>
    <div class="panel panel-default" id="page">
      <div class="panel-heading">
        <h2 class="panel-title text-center text-success" style="font-weight : bold;"> Game </h2>
      </div>
      <div class="panel-body" id="pageBody">
      </div>
    </div>
		<div class="panel panel-default" id="chat">
      <div class="panel-heading cursorPointer" onclick="changeStatus()">
        <h2 id="titleChat" class="panel-title text-center text-success cursorPointer" style="font-weight : bold;"> <%= pseudo %></h2>
      </div>
      <div class="panel-body" id="chatPanel">
      </div>
    </div>

    <script type="text/javascript" src="views/jQuery.js"></script>
    <script>
    var PSEUDO = "<%= pseudo %>";
    var PSWD = "<%= password %>";

    </script>
    <script type="text/javascript" src="js/scriptInterface.js"></script>

  </body>
</html>